@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@800&display=swap");
.font-body {
  font-family: "Inter", sans-serif;
}
.font-heading {
  font-family: "Montserrat", sans-serif;
}
.product-img {
  border-radius: 20px;
  background-color: #df4759;
}
.fw-600-body {
  font-weight: 600;
}
.whatsapp-btn {
  background-color: #25d366;
  color: white;
  transition: transform 0.2s linear;
}
.whatsapp-btn:hover,
.whatsapp-btn:active {
  background-color: #128c7e;
  color: white;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@media only screen and (max-width: 768px) {
  main {
    position: initial;
    top: initial;
    left: initial;
    transform: none;
    width: 100%;
    padding: 5rem 0;
  }
}
